{
  "gun_reset" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/objects/wiring/ra_reassembler/reassemblericon.png",
    "title" : "Confirmation Console",
    "subtitle" : ">Factory Reset",
    "message" : "\nYou are going to restore the frame and modules of your ^green;<gun_name>^white; to factory settings. All resources used in previous modifications will be discarded. ^red;This action is irreversible.^white;\n\nAre you sure? Y/N> _",
    "okCaption" : "Confirm",
    "cancelCaption" : "Decline",
    "images" : {
      "portrait" : [ {"image" : "/objects/wiring/ra_reassembler/reassemblerportrait.png"} ]
    },
    "labels" : {
      "name" : "^orange;Console"
    }
  }
}
