{
  "gui" : {
	"background" : {
		"type" : "background",
		"zlevel" : 0,
		"fileHeader" : "/interface/ra_reassembler/reassembler_header.png",
		"fileBody" : "/interface/ra_reassembler/reassembler_body.png",
		"fileFooter" : "/interface/ra_reassembler/reassembler_footer.png"
	},	
	"windowtitle" : {
		"type" : "title",
		"title" : "	Weapon Reassembler",
		"subtitle" : "	^#b9b5b2;Engineering as art",
		"position" : [0, 152],
		"icon" : {
		"type" : "image",
		"file" : "/interface/crafting/craftingicon.png",
		"position" : [0, -20],
		"zlevel" : -1
		}
	},
	"close" : {
		"type" : "button",
		"base" : "/interface/inventory/x.png",
		"hover" : "/interface/inventory/xhover.png",
		"press" : "/interface/inventory/xpress.png",
		"position" : [229, 205]
	},
	"ra_lblTemplate" : {
		"type" : "label",
		"position" : [207, 189],
		"hAnchor" : "mid",
		"value" : "Template"
	},
	"ra_lblModGun" : {
		"type" : "label",
		"position" : [173, 189],
		"hAnchor" : "mid",
		"value" : "Weapon"
	},
	"itemGrid" : {
		"type" : "itemgrid",
		"position" : [165, 167],
		"dimensions" : [2, 1],
		"spacing" : [33, 19],
		"backingImage" : "/interface/inventory/empty.png"
	},
	"outputItemGrid" : {
		"type" : "itemgrid",
		"position" : [219, 137],
		"slotOffset" : 2,
		"dimensions" : [1, 1],
		"spacing" : [19, 19],
		"rightClickCallback" : "ra.testCallback",
		"backingImage" : "/interface/inventory/gun.png"
	},
	"ra_btnRename" : {
		"type" : "button",
		"base" : "/interface/button.png",
		"hover" : "/interface/buttonhover.png",
		"position" : [127, 59],
		"caption" : "Rename",
		"pressedOffset" : [0, -1],
		"disabled" : false,
		"callback" : "ra.renameButton"	
	},
	"ra_boxRename" : {
		"type" : "textbox",
		"regex" : "[a-zA-Z0-9 '-.()^;#]{0,30}",
		"position" : [159, 75],
		"maxWidth" : 80,
		"callback" : "null",
		"escapeKey" : "ra.renameButton",
		"enterKey" : "ra.renameThis",
		"focus" : false,
		"hint" : "New name",
		"visible" : false
	},
	"ra_btnDebug" : {
		"type" : "button",
		"base" : "/interface/button.png",
		"hover" : "/interface/buttonhover.png",
		"disabledImage" : "/interface/buttongrayed.png",
		"position" : [185, 59],
		"caption" : "[Debug]",
		"pressedOffset" : [0, -1],
		"disabled" : false,
		"callback" : "ra.debugButton",
		"hint" : "are you seeing this?"
	},
	"ra_btnReassemble" : {
		"type" : "button",
		"base" : "/interface/buttonactive.png",
		"hover" : "/interface/buttonactivehover.png",
		"disabledImage" : "/interface/buttongrayed.png",
		"position" : [185, 43],
		"caption" : "Reassemble",
		"pressedOffset" : [0, -1],
		"disabled" : false,
		"callback" : "ra.reconstructButton"	
	},
	"ra_btnReset" : {
		"type" : "button",
		"base" : "/interface/quests/questlog/abandonUp.png",
		"hover" : "/interface/quests/questlog/abandonOver.png",
		"disabledImage" : "/interface/buttongrayed.png",
		"position" : [193, 27],
		"caption" : "Revert",
		"pressedOffset" : [0, -1],
		"disabled" : false,
		"callback" : "ra.resetButton"	
	},
	"ra_btnScan" : {
		"type" : "button",
		"base" : "/interface/button.png",
		"hover" : "/interface/buttonhover.png",
		"disabledImage" : "/interface/buttongrayed.png",
		"position" : [127, 43],
		"caption" : "[Scan]",
		"pressedOffset" : [0, -1],
		"disabled" : false,
		"callback" : "ra.scanButton"
	},
	"ra_chkSound" : {
		"type" : "button",
		"pressedOffset" : [0, 0],
		"position" : [184, 118],
		"base" : "/interface/optionsmenu/checkboxnocheck.png",
		"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
		"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
		"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
		"checkable" : true,
		"checked" : false,
		"disabled" : false,
		"callback" : "null"
	},
	"ra_lblSound" : {
		"type" : "label",
		"position" : [197, 119],
		"hAnchor" : "left",
		"value" : "Sound ID"
	},
	"ra_chkAltMode" : {
		"type" : "button",
		"pressedOffset" : [0, 0],
		"position" : [184, 107],
		"base" : "/interface/optionsmenu/checkboxnocheck.png",
		"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
		"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
		"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
		"checkable" : true,
		"checked" : false,
		"disabled" : false,
		"callback" : "null"
	},
	"ra_lblAltMode" : {
		"type" : "label",
		"position" : [197, 108],
		"hAnchor" : "left",
		"value" : "Alt.Mode"
	},
	"ra_itemIcon" : {
		"type" : "itemslot",
		"position" : [9, 167],
		"iconMode" : false,
		"backingImage" : "/interface/actionbar/actionbarcover.png",
		"showRarity" : true,
		"showBackingImageWhenFull" : true,
		"showBackingImageWhenEmpty" : true,
		"rightClickCallback" : "ra.testCallback",
		"callback" : "null",
		"showDurability" : true,
		"data" : {
			"tooltipText" : "this is tooltip!"
		}
	},
	"ra_gunImage" : {
		"type" : "image",
		"zlevel" : 1,
		"position" : [60, 120],
		"file" : "",
		"centered" : true,
		"maxSize" : [40, 60],
		"minSize" : [40, 40]
	},
	"ra_radioElemental" : {
		"type" : "radioGroup",
		"toggleMode" : true,
		"buttons" : [
		{
			"selected" : true,
			"position" : [154, 86],
			"baseImage" : "/interface/elements/water.png",
			"baseImageChecked" : "/interface/inventory/xhover.png",
			"rightClickCallback" : "ra.testCallback"
		},
		{
			"position" : [172, 86],
			"baseImage" : "/interface/elements/fire.png",
			"baseImageChecked" : "/interface/inventory/xhover.png"
		},
		{
			"position" : [190, 86],
			"baseImage" : "/interface/elements/electric.png",
			"baseImageChecked" : "/interface/inventory/xhover.png"
		},
		{
			"position" : [208, 86],
			"baseImage" : "/interface/elements/ice.png",
			"baseImageChecked" : "/interface/inventory/xhover.png"
		},
		{
			"position" : [226, 86],
			"baseImage" : "/interface/elements/poison.png",
			"baseImageChecked" : "/interface/inventory/xhover.png"
		}
		]
	}
	},
	"scriptWidgetCallbacks" : ["ra.renameButton", "ra.renameThis", "ra.reconstructButton", "ra.resetButton", "ra.scanButton", "ra_radioElemental", "ra.setHighlight", "ra.testCallback","ra.debugButton"],
	"scripts" : ["/interface/ra_reassembler/reassembler_gui.lua"],
	"scriptDelta" : 15,
	
	"autoRefreshRate" : 30,
	"highlightImages" : {
	"optics" : "/interface/scripted/mmupgrade/highlightoptics.png",
	"powergen" : "/interface/scripted/mmupgrade/highlightpowergen.png"
	}
}
