{
  "gui" : {
	"background" : {
		"type" : "background",
		"zlevel" : 0,
		"fileHeader" : "/interface/ra_reassembler/reassembler_header.png",
		"fileBody" : "/interface/ra_reassembler/reassembler_body.png",
		"fileFooter" : "/interface/ra_reassembler/reassembler_footer.png"
	},	
	"windowtitle" : {
		"type" : "title",
		"title" : "Weapon Reassembler",
		"subtitle" : "^#b9b5b2;Engineering as art",
		"position" : [0, 152],
		"icon" : {
			"type" : "image",
			"file" : "/interface/crafting/craftingicon.png",
			"position" : [0, -20],
			"zlevel" : -1
		}
	},
	"close" : {
		"type" : "button",
		"base" : "/interface/x.png",
		"hover" : "/interface/xhover.png",
		"press" : "/interface/xpress.png",
		"position" : [229, 205]
	},
	"ra_lblTemplate" : {
		"type" : "label",
		"position" : [207, 190],
		"hAnchor" : "mid",
		"value" : "Template"
	},
	"ra_lblModGun" : {
		"type" : "label",
		"position" : [168, 190],
		"hAnchor" : "mid",
		"value" : "Weapon"
	},
	"itemGrid" : {
		"type" : "itemgrid",
		"position" : [160, 170],
		"dimensions" : [2, 1],
		"spacing" : [38, 19],
		"rightClickCallback" : "ra.testCallback",
		"backingImage" : "/interface/inventory/empty.png"
	},
	"itemGrid2" : {
		"type" : "itemgrid",
		"position" : [165, 108],
		"dimensions" : [1, 3],
		"slotOffset" : 3,
		"zlevel" : 1,
		"spacing" : [19, 19],
		"rightClickCallback" : "ra.testCallback",
		"backingImage" : "/interface/ra_reassembler/backing_dye.png"
	},
	"ra_chkPart1" : {
		"type" : "button",
		"pressedOffset" : [0, 0],
		"position" : [138, 147],
		"base" : "/interface/ra_reassembler/gun_parts/butt_base.png?brightness=-75",
		"hover" : "/interface/ra_reassembler/gun_parts/butt_hover.png",
		"pressed" : "/interface/ra_reassembler/gun_parts/butt_pressed.png",
		"disabledImage" : "/interface/ra_reassembler/gun_parts/butt_base.png?saturation=-80?brightness=-75",
		"baseImageChecked" : "/interface/ra_reassembler/gun_parts/butt_selected.png",
		"hoverImageChecked" : "/interface/ra_reassembler/gun_parts/butt_selhover.png",
		"checkable" : true,
		"checked" : true,
		"zlevel" : 1,
		"disabled" : false,
		"callback" : "null"
	},
	"ra_chkPart2" : {
		"type" : "button",
		"pressedOffset" : [0, 0],
		"position" : [141, 126],
		"base" : "/interface/ra_reassembler/gun_parts/middle_base.png?brightness=-75",
		"hover" : "/interface/ra_reassembler/gun_parts/middle_hover.png",
		"pressed" : "/interface/ra_reassembler/gun_parts/middle_pressed.png",
		"disabledImage" : "/interface/ra_reassembler/gun_parts/middle_base.png?saturation=-80?brightness=-75",
		"baseImageChecked" : "/interface/ra_reassembler/gun_parts/middle_selected.png",
		"hoverImageChecked" : "/interface/ra_reassembler/gun_parts/middle_selhover.png",
		"checkable" : true,
		"checked" : true,
		"zlevel" : 1,
		"disabled" : false,
		"callback" : "null"
	},
	"ra_chkPart3" : {
		"type" : "button",
		"pressedOffset" : [0, 0],
		"position" : [144, 105],
		"base" : "/interface/ra_reassembler/gun_parts/barrel_base.png?brightness=-75",
		"hover" : "/interface/ra_reassembler/gun_parts/barrel_hover.png",
		"pressed" : "/interface/ra_reassembler/gun_parts/barrel_pressed.png",
		"disabledImage" : "/interface/ra_reassembler/gun_parts/barrel_base.png?saturation=-80?brightness=-75",
		"baseImageChecked" : "/interface/ra_reassembler/gun_parts/barrel_selected.png",
		"hoverImageChecked" : "/interface/ra_reassembler/gun_parts/barrel_selhover.png",
		"checkable" : true,
		"checked" : true,
		"zlevel" : 1,
		"disabled" : false,
		"callback" : "null"
	},
	"outputItemGrid" : {
		"type" : "itemgrid",
		"position" : [219, 137],
		"slotOffset" : 2,
		"dimensions" : [1, 1],
		"spacing" : [19, 19],
		"rightClickCallback" : "ra.testCallback",
		"backingImage" : "/interface/inventory/gun.png"
	},
	"ra_btnRename" : {
		"type" : "button",
		"base" : "/interface/button.png",
		"hover" : "/interface/buttonhover.png",
		"position" : [128, 59],
		"caption" : "Rename",
		"pressedOffset" : [0, -1],
		"disabled" : false,
		"callback" : "ra.renameButton"	
	},
	"ra_boxRename" : {
		"type" : "textbox",
		"regex" : "[a-zA-Z0-9 '-.()^;#]{0,30}",
		"position" : [159, 75],
		"maxWidth" : 80,
		"callback" : "null",
		"escapeKey" : "ra.renameButton",
		"enterKey" : "ra.renameThis",
		"focus" : false,
		"hint" : "New name",
		"visible" : false
	},
	"ra_btnDebug" : {
		"type" : "button",
		"base" : "/interface/button.png",
		"hover" : "/interface/buttonhover.png",
		"disabledImage" : "/interface/buttongrayed.png",
		"position" : [185, 59],
		"caption" : "[Debug]",
		"pressedOffset" : [0, -1],
		"disabled" : false,
		"callback" : "ra.debugButton"
	},
	"ra_lblDebug" : {
		"type" : "label",
		"position" : [190, 12],
		"hAnchor" : "mid",
		"value" : "",
		"visible" : false,
		"color" : "yellow"
	},
	"ra_btnReassemble" : {
		"type" : "button",
		"base" : "/interface/buttonactive.png",
		"hover" : "/interface/buttonactivehover.png",
		"disabledImage" : "/interface/buttongrayed.png",
		"position" : [185, 43],
		"caption" : "Reassemble",
		"pressedOffset" : [0, -1],
		"disabled" : false,
		"callback" : "ra.reconstructButton"	
	},
	"ra_btnReset" : {
		"type" : "button",
		"base" : "/interface/quests/questlog/abandonUp.png",
		"hover" : "/interface/quests/questlog/abandonOver.png",
		"disabledImage" : "/interface/buttongrayed.png",
		"position" : [193, 27],
		"caption" : "Revert",
		"pressedOffset" : [0, -1],
		"disabled" : false,
		"callback" : "ra.resetButton"	
	},
	"ra_btnScan" : {
		"type" : "button",
		"base" : "/interface/button.png",
		"hover" : "/interface/buttonhover.png",
		"disabledImage" : "/interface/buttongrayed.png",
		"position" : [128, 43],
		"caption" : "[Scan]",
		"pressedOffset" : [0, -1],
		"disabled" : false,
		"callback" : "ra.scanButton"
	},
	"dye1Variant" : {
        "type" : "spinner",
        "position" : [184, 147],
        "upOffset" : 8,
		"visible" : false,
		"callback" : "ra.dye1Option"
    },
	"ra_lblDye1" : {
		"type" : "label",
		"position" : [192, 155],
		"hAnchor" : "mid",
		"value" : "0/0",
		"color" : "#4169E1",
		"visible" : false
	},
	"dye2Variant" : {
        "type" : "spinner",
        "position" : [184, 128],
        "upOffset" : 8,
		"visible" : false,
		"callback" : "ra.dye2Option"
    },
	"ra_lblDye2" : {
		"type" : "label",
		"position" : [192, 136],
		"hAnchor" : "mid",
		"value" : "0/0",
		"color" : "#4169E1",
		"visible" : false
	},
	"dye3Variant" : {
        "type" : "spinner",
        "position" : [184, 109],
        "upOffset" : 8,
		"visible" : false,
		"callback" : "ra.dye3Option"
    },
	"ra_lblDye3" : {
		"type" : "label",
		"position" : [192, 117],
		"hAnchor" : "mid",
		"value" : "0/0",
		"color" : "#4169E1",
		"visible" : false
	},
	"ra_chkSound" : {
		"type" : "button",
		"pressedOffset" : [0, 0],
		"position" : [200, 118],
		"base" : "/interface/optionsmenu/checkboxnocheck.png",
		"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
		"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
		"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
		"checkable" : true,
		"checked" : false,
		"disabled" : false,
		"callback" : "null"
	},
	"ra_lblSound" : {
		"type" : "label",
		"position" : [210, 119],
		"hAnchor" : "left",
		"value" : "Sound ID"
	},
	"ra_chkAltMode" : {
		"type" : "button",
		"pressedOffset" : [0, 0],
		"position" : [200, 107],
		"base" : "/interface/optionsmenu/checkboxnocheck.png",
		"hover" : "/interface/optionsmenu/checkboxnocheckhover.png",
		"baseImageChecked" : "/interface/optionsmenu/checkboxcheck.png",
		"hoverImageChecked" : "/interface/optionsmenu/checkboxcheckhover.png",
		"checkable" : true,
		"checked" : false,
		"disabled" : false,
		"callback" : "null"
	},
	"ra_lblAltMode" : {
		"type" : "label",
		"position" : [210, 108],
		"hAnchor" : "left",
		"value" : "Alt.Mode"
	},
	"ra_itemIcon" : {
		"type" : "itemslot",
		"position" : [9, 167],
		"iconMode" : false,
		"backingImage" : "/interface/actionbar/actionbarcover.png",
		"showRarity" : true,
		"showBackingImageWhenFull" : true,
		"showBackingImageWhenEmpty" : true,
		"rightClickCallback" : "ra.testCallback",
		"callback" : "null",
		"showDurability" : true,
		"data" : {
			"tooltipText" : "this is tooltip!"
		}
	},
	"ra_gunImage1" : {
		"type" : "image",
		"zlevel" : 1,
		"position" : [40, 85],
		"file" : "",
		"scale" : 1,
		"centered" : false,
		"maxSize" : [70, 70],
		"minSize" : [1, 1]
	},
	"ra_gunImage2" : {
		"type" : "image",
		"zlevel" : 1,
		"position" : [40, 85],
		"file" : "",
		"scale" : 1,
		"centered" : false,
		"maxSize" : [70, 70],
		"minSize" : [1, 1]
	},
	"ra_gunImage3" : {
		"type" : "image",
		"zlevel" : 1,
		"position" : [40, 85],
		"file" : "",
		"scale" : 1,
		"centered" : false,
		"maxSize" : [70, 70],
		"minSize" : [1, 1]
	},
	"ra_radioElemental" : {
		"type" : "radioGroup",
		"toggleMode" : false,
		"buttons" : [
		{
			"selected" : true,
			"position" : [154, 85],
			"pressedOffset" : [0, 0],
			"baseImage" : "/interface/ra_reassembler/element_physical.png?saturation=-80?brightness=-75",
			"baseImageChecked" : "/interface/ra_reassembler/element_physical.png",
			"rightClickCallback" : "ra.testCallback"
		},
		{
			"position" : [172, 85],
			"pressedOffset" : [0, 0],
			"baseImage" : "/interface/elements/fire.png?saturation=-80?brightness=-75",
			"baseImageChecked" : "/interface/elements/fire.png"
		},
		{
			"position" : [190, 85],
			"pressedOffset" : [0, 0],
			"baseImage" : "/interface/elements/electric.png?saturation=-80?brightness=-75",
			"baseImageChecked" : "/interface/elements/electric.png"
		},
		{
			"position" : [208, 85],
			"pressedOffset" : [0, 0],
			"baseImage" : "/interface/elements/ice.png?saturation=-80?brightness=-75",
			"baseImageChecked" : "/interface/elements/ice.png"
		},
		{
			"position" : [226, 85],
			"pressedOffset" : [0, 0],
			"baseImage" : "/interface/elements/poison.png?saturation=-80?brightness=-75",
			"baseImageChecked" : "/interface/elements/poison.png"
		}
		]
	},
	"ra_PriceScrArea" : {
        "type" : "scrollArea",
        "rect" : [8, 28, 118, 57],
        "children" : {
            "ra_lblErrorText": {
			"type" : "label",
			"position" : [50, 60],
			"wrapWidth" : 100,
			"value" : "Current status: none"
			},
			"ra_lblDebugText2": {
			"type" : "label",
			"position" : [50, 0],
			"wrapWidth" : 100,
			"value" : "[EOF]\nGratz.\nYou've found it."
			}
        }
    }
  },
	"scriptWidgetCallbacks" : ["ra.renameButton", "ra.renameThis", "ra.dye1Option.up" , "ra.dye1Option.down", "ra.dye2Option.up" , "ra.dye2Option.down", "ra.dye3Option.up" , "ra.dye3Option.down", "ra.reconstructButton", "ra.resetButton", "ra.scanButton", "ra_radioElemental", "ra.setHighlight", "ra.testCallback","ra.debugButton"],
	"scripts" : ["/interface/ra_reassembler/reassembler_gui.lua"],
	"scriptDelta" : 15,
	
	"autoRefreshRate" : 1,
	"highlightImages" : {
	"optics" : "/interface/scripted/mmupgrade/highlightoptics.png",
	"powergen" : "/interface/scripted/mmupgrade/highlightpowergen.png"
	}
}
