{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/ra_reassembler/reassembler_header.png",
      "fileBody" : "/interface/ra_reassembler/reassembler_body.png",
      "fileFooter" : "/interface/ra_reassembler/reassembler_footer.png"
    },
	"windowtitle" : {
      "type" : "title",
      "title" : "  Weapon Reassembler",
      "subtitle" : "  ^#b9b5b2;Engineering as art",
      "position" : [0, 152],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/craftingicon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
	"lblSecond" : {
      "type" : "label",
      "position" : [90, 114],
      "hAnchor" : "mid",
      "value" : "second"
    },
	"lblFirst" : {
      "type" : "label",
      "position" : [50, 114],
      "hAnchor" : "mid",
      "value" : "first"
    },
	"lblResult" : {
      "type" : "label",
      "position" : [69, 43],
      "hAnchor" : "mid",
      "value" : "Result"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [40, 93],
      "dimensions" : [1, 1],
      "spacing" : [40, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
	"itemGrid2" : {
      "type" : "itemgrid",
      "position" : [60, 54],
	  "slotOffset" : 2,
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
	"ra_btnRename" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [8, 12],
      "caption" : "Rename",
	  "pressedOffset" : [0, 0],
	  "disabled" : true,
	  "callback" : "null"  
    },
	"ra_boxRename" : {
		"type" : "textbox",
		"regex" : "[a-zA-Z0-9 '-.()^;#]{0,30}",
		"position" : [22, 14],
		"maxWidth" : 80,
		"callback" : "null",
		"escapeKey" : "ra.renameButton",
		"enterKey" : "ra.renameThis",
		"focus" : false,
		"hint" : "Name",
		"visible" : false
    }
  },
  "scriptWidgetCallbacks" : ["ra.renameButton", "ra.renameThis"],
  "scripts" : ["/interface/ra_reassembler/reassembler_gui.lua"]
}
